# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Ignore full dataset
data/ds004147/

# Ignore generated outputs but keep structure
outputs/*
!outputs/.gitkeep
!outputs/figures/
!outputs/results/
!outputs/sanity_checks/
!outputs/logs/
!outputs/figures/.gitkeep
!outputs/results/.gitkeep
!outputs/sanity_checks/.gitkeep
!outputs/logs/.gitkeep